<div id="al-body">
    <mat-form-field class="post-form" [formGroup]="newsPoster">
        <!-- <textarea class="post-box" name="post-box"></textarea> -->
        <input type="text" placeholder="Image" formControlName="image">
        <input type="text" placeholder="Video" formControlName="video">
        <input type="text" placeholder="Text" formControlName="text">
        <input type="submit" value="Post" class="steam-button" (click)="onPost()">
    </mat-form-field>

    <div class="story-and-comments" *ngFor="let story of storyList; let i = index">
        <div class="story">
            <div id="content-header">
                <p class="avatar">Avatar</p>
                <p class="username">{{story.publisherName}}</p>
                <p class="time">{{story.publishedTime}}</p>
            </div>
    
            <div id="content-body">
                <p class="content">{{story.content?.text}}</p>
                <img class="content-image" *ngIf="story.content.image != null" src={{story.content.image}}>
            </div>
    
            <div id="content-bottom">
                <div class="comment-stats">
                    <p class="comment-icon">Comments</p>
                    <p class="comment-number">{{story.comment.length}}</p>
                </div>
                <div class="like-stats">
                    <p class="like-icon">Likes</p>
                    <p class="like-number">{{story.likedIdList.length}}</p>
                </div>
                <button class="like-button steam-button" (click)="like(i)">Like</button>
            </div>
        </div>

        <div class="story comments" *ngFor="let comment of story.comment">
            <div id="content-header">
                <p class="avatar">Avatar</p>
                <p class="username">{{comment.publisherName}}</p>
                <p class="time">{{comment.publishedTime}}</p>
            </div>

            <div id="content-body">
                <p class="content">{{comment.content.text}}</p>
                <img class="content-image" *ngIf="comment.content.image != null" src={{comment.content.image}}>
            </div>
        </div>
    </div>
    
</div>

<div class="disappear" appHidein5>
    <p>This box will disappear</p>
</div>