<div id="al-body">
    <div class="post-form">
        <textarea class="post-box" name="post-box"></textarea>
        <input type="submit" value="Post">
    </div>

    <div class="story">
        <div id="content-header">
            <p class="avatar">Avatar</p>
            <p class="username">User Name</p>
            <p class="time">Published Time</p>
        </div>

        <div id="content-body">
            <p class="video-image">Video Image</p>
            <p class="content">Content</p>
        </div>

        <div id="content-bottom">
            <div class="comment-stats">
                <p class="comment-icon">Comment Icon</p>
                <p class="comment-number">Comment Number</p>
            </div>
            <div class="like-stats">
                <p class="like-icon">Like Icon</p>
                <p class="like-number">Like Number</p>
            </div>
        </div>
    </div>
</div>

<div class="disappear" appHidein5>
    <p>This box will disappear</p>
</div>