<style>
    .user{
        display:block;
        margin:auto;
        width:30vw
    }
    .count{
        display: flex;
        justify-content: space-between;
        margin:auto;
        text-align: center;
        width:30vw;
    }
</style>
<div>
    <div class="user">
        <img src="profile.jpg">
        <span class="name">Zoey Xiao </span>
        <span class="email">zoeyyyyy@gmail.com</span>
        <p>Gender: F</p>
        <p>Age: 37</p>
    </div>
    <div class="count">
        <div class="post">
            <img src="doesnotexistyet.jpg">
            <span>3</span>
        </div>
        <div class="likes">
            <img src="doesnotexistyet.jpg">
            <span>0</span>
        </div>
    </div>
    
</div>