
*   
  margin: 0
  padding: 0
  box-sizing: border-box

#listsContainer
    height: 85vh
    background-color: rgba(164, 168, 170, 0.852)

    .lists
        text-align: center

        .userTag
            background-color: rgb(78, 76, 76)
            margin-bottom: 15px
            color: white
            display: flex
            justify-content: center
            button
                margin-left: 10px

        #addUser
            background-color: rgb(215, 210, 210)
            justify-content: center