<mat-expansion-panel hideToggle class="likedList">
    <mat-expansion-panel-header>
        <mat-panel-title class="centerText">Liked List</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="likePost" *ngFor="let item of likeList">
        <p> {{ item.publisherName }} </p>
        <p> {{ item.publishedTime }} </p>
        <div class="content">
            {{ item.content.text | truncate: 20 }}
            <button class="remove" (click)="removePost(item._id)" mat-raised-button color="warn">Remove</button>
        </div>
    </div>
</mat-expansion-panel>