.container
    background-color: #EDEEEC
    display: block
    margin-right: auto
    margin-left: auto
    border: .1em solid (lightgrey)
    border-radius:5px
    width: 60vh
    height:60vh


img
    width:30rem
    border-radius:5px
    padding: .5em 
    display: block
    margin-right: auto
    margin-left: auto


.form-container
    display: block
    text-align: center



.user-name
    padding: .1em
    
 