<p>Log in Wrking!</p>
<div class="container">
    <div class="image">
        <img src="../../../../assets/antra-logo.png" alt="antra-logo">
    </div>
    <div class="form-container">
        <form class="form" action="submit">
           <div class="user-name">
            <div class="label">
                <label for="user-name">User name</label>
            </div>
            <div class="input">
                <input type="text" id="user-name" placeholder="Enter User Name">
            </div>
           </div>
           <div class="password">
            <div class="label-psw">
                <label for="password">Password</label>
            </div>
            <div class="input-psd">
                <input type="text" placeholder="Enter Password">
            </div>
           </div>
           <div class="btn-login">
            <button>Login</button>
           </div>
           <div class="register">
            <a href="">No account?</a>
            <div class="chk-box">
              <input type="checkbox">  
            </div>
           </div>
        </form>
    </div>
</div>