<div id="register">
    <div id="register-logo"></div>

    <h2>Sign up to join our social media! </h2>
    <form [formGroup]="registerForm">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput id="email" formControlName="email" type="email" class="form-control">
            <mat-error *ngIf="true"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput id="password" formControlName="password" type="password" class="form-control">
            <mat-error *ngIf="password?.errors?.['required']">Password cannot be empty.</mat-error>
            <mat-error *ngIf="password?.errors?.['hasuppercase']">Password must have 1 uppercase letter.</mat-error>
            <mat-error *ngIf="password?.errors?.['haslowercase']">Password must have 1 lowercase letter.</mat-error>
            <mat-error *ngIf="password?.errors?.['hasspecialchar']">Password must have 1 special character.</mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">Password must be 8 characters long.</mat-error>
        </mat-form-field>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm Password" required>

        <button type="submit" id="register-button">Register</button>
    </form>

</div>