<style>
    .likelist{
        margin:0;
        height:8vh;
        
    }
    button{
        height:3vh;
        display:block;
        margin-left: auto;
        background-color: black;
        color:white;
    }
    ul{
        list-style: none;
        float: right;
    }
</style>
<div class="likelist">
    <button (click)="toggleList()">Like List</button>
    <ul>
        <li *ngFor="let key of newsFeedList">
            <span *ngIf="showList">
                {{ key.publisherName }} :
                {{ key.content.text }}
                {{ key.publishedTime }}
            </span>
        </li>
    </ul>
</div>

