<div id="register">
    <div id="register-logo"></div>

    <h2>Sign up to join our social media! </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput id="email" formControlName="email" type="email" class="form-control">
            <mat-error *ngIf="email?.errors?.['required']">Email cannot be empty.</mat-error>
            <mat-error *ngIf="email?.errors?.['hasemail']">Email is already in use.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput id="username" formControlName="username" type="text" class="form-control">
            <mat-error *ngIf="username?.errors?.['required']">Username cannot be empty.</mat-error>
            <mat-error *ngIf="username?.errors?.['hasusername']">Username is already in use.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput id="password" formControlName="password" [type]="passwordHide ? 'password' : 'text'"
                class="form-control">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.errors?.['required']">Password cannot be empty.</mat-error>
            <mat-error *ngIf="password?.errors?.['hasuppercase']">Password must have 1 uppercase letter.</mat-error>
            <mat-error *ngIf="password?.errors?.['haslowercase']">Password must have 1 lowercase letter.</mat-error>
            <mat-error *ngIf="password?.errors?.['hasspecialchar']">Password must have 1 special character.</mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">Password must be 8 characters long.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput id="confirmPassword" formControlName="confirmPassword"
                type="confirmPasswordHide ? 'password' : 'text'" class="form-control">
            <button mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide">
                <mat-icon>{{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmPassword?.errors?.['required']">Password cannot be empty.</mat-error>
            <mat-error *ngIf="confirmPassword?.errors?.['hasmatch']">Passwords must match.</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="registerForm?.invalid" class="btn btn-primary">Register</button>
    </form>

</div>