<!-- <div class="pageOverAll">
  <div class="profile">
    <div class="user">
      <img
        class="avatar"
        src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
      />
      <h3 class="name"></h3>
      <p class="email"><b>Email:</b></p>
      <input placeholder="Enter mail" type="text" />
      <input type="password" placeholder="Enter Password" />
      <p><b>Gender:</b></p>
      <input placeholder="Enter Gender" type="text" />
      <p><b>Age:</b></p>
      <input placeholder="Age?" type="text" />
    </div>

    <div class="count">
      <div class="post">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/1999/1999310.png"
        />
        <span>13</span>
      </div>

      <div class="likes">
        <img
          class="icon"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Facebook_Thumb_icon.svg/1200px-Facebook_Thumb_icon.svg.png"
        />
        <span>22</span>
      </div>
    </div>
  </div>
</div> -->

<div class="page">
  <!-- <div class="leftB">
    <img
      class="avatar"
      src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
    />
    <h3>User name</h3>
  </div> -->
  <!-- <div class="rightB">
    <div class="boxRight"> -->
  <!-- <mat-form-field class="genderInput" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" value="" />
      </mat-form-field>
      <br />
      <mat-form-field class="genderInput" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" value="" type="password" />
      </mat-form-field>
      <br />
      <mat-form-field class="genderInput" appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender" value="" />
      </mat-form-field>

      <br />
      <mat-form-field class="ageInput" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" value="" />
      </mat-form-field> -->

  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title>User Name</mat-card-title>
    </mat-card-header>
    <img
      class="avatar"
      src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
    />
    <mat-card-content>
      <mat-card
        >Email
        <mat-card-subtitle> useremail@gmail.com</mat-card-subtitle>
      </mat-card>

      <mat-form-field class="passwordInput" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          value="Password"
        />
      </mat-form-field>
      <mat-form-field class="genderInput" appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput type="Text" placeholder="Male/Female/Other" value="" />
      </mat-form-field>

      <mat-form-field class="ageInput" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="Text" placeholder="34" value="" />
      </mat-form-field>
      <mat-form-field class="phoneInput" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          type="number"
          placeholder="(123)456-7890"
          value="text"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="userActivity">
      <button
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Likes
      </button>
      <button
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Posts
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- </div>
</div> -->
