<div class="pageOverAll">
  <div class="profile">
    <div class="user">
      <img
        class="avatar"
        src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
      />
      <h3 class="name"></h3>
      <p class="email"><b>Email:</b></p>
      <input placeholder="Enter mail" type="text" />
      <input type="password" placeholder="Enter Password" />
      <p><b>Gender:</b></p>
      <input placeholder="Enter Gender" type="text" />
      <p><b>Age:</b></p>
      <input placeholder="Age?" type="text" />
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-slider min="1" max="100" step="1" value="100"></mat-slider>

    <div class="count">
      <div class="post">
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/1999/1999310.png"
        />
        <span>13</span>
      </div>

      <div class="likes">
        <img
          class="icon"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Facebook_Thumb_icon.svg/1200px-Facebook_Thumb_icon.svg.png"
        />
        <span>22</span>
      </div>
    </div>
  </div>
</div>
