.pageOverAll
  display: flex
  justify-content: center
  align-items: center

.profile
  margin: 0
  width: 100vh
  height: 100vh
  font-size: large

.user
  padding-top: 10vw
  display: block
  margin: auto
  width: 20vw

.avatar
  position: relative
  display: inline
  width: 10vw

.name
  display: inline

.count
  margin: 0
  display: flex
  justify-content: space-between
  margin: auto
  text-align: center
  width: 30vw
  font-size: large

.icon
  width: 4vw

span
  padding: 2%


