<span> {{ story }}</span>

<div class="story-info">
    <div class="user-info">
        <div id="avatar-img">
            Avatar Image
        </div>
        <div id="username">
            {{ story?.publisherName }}
        </div>
        <div id="published-time">
            {{ story?.publishedTime }}
        </div>
    </div>

    <div id="story-content">
        {{ story?.content?.text}}
    </div>

    <div class="interact-info">
        <div class="like info">
            <div class="icon">
            </div>
            <p>{{story?.likedList?.length}}</p>
        </div>
        <div class="comment info">
            <div class="icon">
            </div>
            <p>{{story?.comment?.length}}</p>
        </div>
    </div>
</div>