<style>
    body {
        margin: 0;
        min-width: 250px;
    }

    /* Include the padding and border in elements' total width/height */
    * {
        box-sizing: border-box;
    }

    .header {
        background-color: rgb(40, 38, 38);
        padding: 1rem;
        color: white;
        text-align: center;
    }

    /* Align users list and user details panel properly */
    #users_info_body {
        display: flex;
        justify-content: space-between;
    }

    #users {
        padding-top: 5%;
        width: 40%;
        height: 50%;
    }

    ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    ul li {
        cursor: pointer;
        position: relative;
        padding: 0.75rem;
        list-style-type: none;
        background: #f9f5ff;
        font-size: 1rem;
        transition: 0.25s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button {
        color: #998fc7;
    }

    /* Set all odd list items to a slightly different color */
    ul li:nth-child(odd) {
        background: #fdfdfd;
    }

    /* Lighter background-color on hovering li */
    ul li:hover {
        background: #d4c2fc;
;
    }

    .user_functions {
        float: right;
        border: none;
    }

    /* affect the look of the vertical ellipsis user functions when hovering list item */
    li:hover .user_functions {
        color: black;
        transition: 0.25s;
    }

    /* emphasizes vertical ellipses for user funcs to be clickable */
    .user_functions:hover {
        font-weight: bolder;
        font-size:larger;
    }

    #add_user {
        color: white;
        text-align: center;
        background-color: #998fc7;
        cursor: pointer;
        padding: 0.75rem;
        width: 100%;
    }

    #add_user:hover {
        color: rgb(69, 69, 69);
        background-color: white;
        transition: 0.25s;
    }

    #details {
        width: 60%;
        padding-left: 5%;
        padding-top: 5%;
        /* border: 1px solid darkgrey; */
        background-color: #f9f5ff;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    li button {
        float: right;
    }
</style>
<body>
    <!-- <div class="header">
        <h2 style="">Administration</h2>
    </div> -->

    <span id="users_info_body">
        <div id="users">
            <ul>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon fontIcon="diversity_3"></mat-icon>
                        &nbsp;Users
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <li *ngFor="let item of userslist">
                        <span *ngIf="showlist">
                            {{ item.name }}
                            </span>
                            <button mat-icon-button>
                                <mat-icon>{{item.function}}</mat-icon>
                            </button>
                    </li>
                </mat-expansion-panel>
                <!-- <li id="add_user"> + Add User</li> -->
            </ul>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon fontIcon="add"></mat-icon>
                    &nbsp; Add User
                  </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <!-- <span id="add_user">+ Add User</span> -->
        </div>
        <div id="details">
            <h1>User Details</h1>
            <app-storylist></app-storylist>
            <!-- <app-profile *ngFor = "let post of postlist" [post] = post></app-profile> -->
            <!-- <p *ngFor = "let post of postlist" [post] = post></p> -->
            <!-- <p> Username: Piebaconcookie <br>
                Password: goodMeme <br>
                E-mail: richardwu90@gmail.com <br>
                Gender: male <br>
                Age: 22 <br>
            </p> -->
        </div>
    </span>
    <app-navbar></app-navbar>
</body>