<!-- <div class="news-feed-container">
    <section class="posts-container">
      <div class="add posts">
        <form>
          <div class="avatar">
            <img class="avatar" src="../../../../assets/avatar.png" alt="avatar" />
          </div>
          <input (input)="handleInput" type="text" />
          <button (click)="handlePost($event)" class="post-button">Post</button>
        </form>
      </div>
      <div class="stories-container">
        <p *ngIf="storyList" >
         STORIES:
        </p>
        <div *ngFor="let post of posts" class="posts">
          <div class="story">{{post}}</div>
        </div>
        <ng-container *ngIf="storyList">
          <div  *ngFor="let story of storyList" class="stories">
            <div class="story">
              <div class="story_author">By:{{ story.publisherName }}</div>
              <div class="story_text">{{ story.content.text }}</div>
              <div class="story_image">
                <img [src]="story.content.image" alt="" />
              </div>
              <div class="story_time">{{ story.publishedTime}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>

  <app-navbar></app-navbar> -->

  <div class="newsfeed">
    <app-likelist></app-likelist>
    <app-post-form></app-post-form>
    <app-storylist></app-storylist>
    <app-navbar></app-navbar>
</div>