<mat-card class="story-info">
    <mat-card-header>
        <div mat-card-avatar class="avatar-img"></div>
        <mat-card-title>{{ post?.publisherName }}</mat-card-title>
        <mat-card-subtitle>{{ post?.publishedTime | date:'short' }}</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="post?.content?.image">
        <img mat-card-xl-image class="imgContent" src='{{ post?.content?.image }}'>
    </ng-container>
    <mat-card-content>
        <p>{{ post?.content?.text }}</p>
    </mat-card-content>
    <mat-card-actions class="actionButton">
        <div>
            <mat-icon (click)="likePost()" [ngStyle]="{'color': likeColor}">thumb_up</mat-icon>
            <span>{{ post?.likedIdList?.length }}</span>
        </div>
        <div>
            <mat-icon (click)="openDialog()">comment</mat-icon>
            <span>{{ post?.comment?.length }}</span>
        </div>
    </mat-card-actions>
</mat-card>