<div class="container">
    <div class="main-container">
        <div class="main">
            <div class="card-header">
                <div class="avatar">
                    <img class="profile_img" src="./../../assets/avatar.png" alt="avatar">
                </div>
                <div class="user-name">
                    <p class="mb-0">
                        <strong class="pr-1">User Name:</strong>
                        @gmail.com
                    </p>
                </div>
           </div>
            <div class="card-body">
              <div class="section1">
                <p class="department"><strong class="pr-1">Department:</strong>1</p>
              </div>
              <div class="section2">
                <p class="bio"><strong class="pr-2">Bio:</strong>2</p>
              </div>
              <div class="section3">
                <p class="hobby"><strong class="pr-3">Hobby:</strong>3</p>
              </div>
              <div class="section4">
                <p class="skills"><strong class="pr-3">Skills:</strong>4</p>
              </div>
            </div>
        </div>
       <div class="icon-container">
        <div class="icon1">
            <i class="posts-icon">Icon</i>
        </div>
        <div class="icon1-label">
            <p>Amount of Posts</p>
        </div>
        
        <div class="icon2">
            <i class="likes-icon">Icon</i>
        </div>
        <div class="icon2-label">
            <p>Amount of Likes</p>
        </div>
       </div>
      </div>
</div>

<!-- <div class="frofile-container">
  <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<app-navbar></app-navbar>
