<div class="story-info">
    <div class="user-info">
        <div id="avatar-img">
            Avatar Image
        </div>
        <div id="username">
            Username
        </div>
        <div id="published-time">
            Published Time
        </div>
    </div>

    <div id="story-content">

    </div>

    <div class="interact-info">
        <div class="like info">
            <div class="icon">
            </div>
            <p>Like Number</p>
        </div>
        <div class="comment info">
            <div class="icon">
            </div>
            <p>Comment Number</p>
        </div>
    </div>
</div>