<div class="story-info">
    <div class="user-info">
        <div class="avatar-img">
            Avatar Image
        </div>
        <div class="username">
            {{ post?.publisherName }}
        </div>
        <div class="published-time">
            {{ post?.publishedTime }}
        </div>
    </div>

    <div class="story-content">
        {{ post?.content?.text }}
    </div>

    <div class="interact-info">
        <div class="like info">
            <div class="icon" >
            </div>
            <p>{{ post?.likedIdList?.length }}</p>
        </div>
        <div class="comment info">
            <div class="icon" (click)="likePost()">
            </div>
            <p>{{ post?.comment?.length }}</p>
        </div>
    </div>
</div>