<div class="nav-container">
    <nav class="nav">
        <ul class="nav-ul">
            <li><a href="profile">My Profile</a></li>
            <li><a href="newsfeed">News Feed</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="login">Log in page</a></li>
        </ul>
    </nav>
</div>

<!-- <div class="nav-container">
    <mat-nav-list>
        <mat-list-item>
            <a mat-list-item href="profile"> My Profile</a>
            <a mat-list-item href="newsfeed"> News Feed</a>
            <a mat-list-item href="settings"> Settings</a>
            <a mat-list-item href="login"> Log in</a>
        </mat-list-item>
      </mat-nav-list>
</div> -->