@import "../../shared/styling/og-steam-ui"

#header
    display: flex
    background-color: $navbar-color
    justify-content: flex-end
    position: fixed
    width: 100%
    top: 0%
    border-bottom-style: outset
    z-index: 10

.links
    padding-top: 1rem
    padding-bottom: 1rem
    padding-right: 2rem
    text-decoration: none
    font-weight: bold
    position: relative
    right: 4%