<form class="profile-form">
    <mat-card class="profile">
        <mat-card-header class="header">
            <img mat-card-avatar class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Banana-Single.jpg">
            <mat-card-title class="name">
                <input matInput value="Zoey Xiao">
            </mat-card-title>
            <mat-card-subtitle class="email"> 
                <input matInput value="zoeyyyy@gmail.com">
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
            <p>
                <b>Password:</b>
                <input matInput>
            </p>
            <p>
                <b>Confirm Password: </b>
                <input matInput value="37">
            </p>
            <p>
                <b>Age:</b>
                <input matInput value="37">
            </p>
            <mat-label><b>Gender:</b></mat-label>
            <mat-select>
                <mat-option value="F">Female</mat-option>
                <mat-option value="M">Male</mat-option>
                <mat-option value="M">Other</mat-option>
                <mat-option value="M">Prefer not to say</mat-option>
            </mat-select>
        </mat-card-content>
        <div class="count">
            <div class="comment">
                <mat-icon> comment</mat-icon>
                <span>3</span>
            </div>
            <div class="like">
                <mat-icon>favorite_border</mat-icon>
                <span>0</span>
            </div>
        </div>
    </mat-card>
</form>