<div class="title">
    <img src="src/assets/images/image.png" alt="logo">
</div>
<div class="form-container">
    <form class="items" action="">
        <div class="userName">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" placeholder=" Enter User Name" required>
        </div>
        <div class="userEmail">
            <label for="userEmail">Email:</label>
            <input type="text" id="userEmail" placeholder="Enter Email" required>
        </div>
        <div class="userAge">
            <label for="age">Enter Age:</label>
            <input type="number" id="userAge" placeholder="Enter age" required>
        </div>
        <div class="userGender">
            <label class="gender-label" for="gender">Enter Gender:</label>
            <select name="gender" required>
                <option value="none" selected>Gender</option>
                <option value="he/him">He/Him</option>
                <option value="she/her">She/Her</option>
                <option value="they/them">They/them</option>
                <option value="nonbinary">Non-binary</option>
                <option value="notsay">Prefer not to say</option>
                <option value="other">other</option>
            </select>
        </div>
    </form>
</div>