<style>
    .storycomponent{
        display:block;
        width: 50vw;
        margin:auto;
    }
    .story{
        padding-block: 2vh;
    }
    .avatar{
        width:5vw;
    }
    .count{
        display:flex;
        justify-content: space-between;
    }
    .name{
        font-weight: 600;
    }
    .time{
        color:grey
    }
    .icon{
        width:2vw;
    }
</style>
<div class="storycomponent">
    <div class="story">
        <div class="user">
            <img class="avatar" src="https://i1.sndcdn.com/avatars-1zPHz1m2uz0z1sj9-bIL9yg-t500x500.jpg">
            <span class="name">Britney Spears </span>
            <span class="time">3 minutes ago</span>
        </div>
        <div class="post">
            <p class="content">hi everyone</p>
            <div class="count">
                <div class="comment">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/2462/2462719.png"></button>
                    <span>3</span>
                </div>
                <div class="like">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/126/126473.png"></button>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <div class="user">
            <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/2ChocolateChipCookies.jpg">
            <span class="name">piebaconcookie </span>
            <span class="time">45 minutes ago</span>
        </div>
        <div class="post">
            <p class="content">hello</p>
            <div class="count">
                <div class="comment">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/2462/2462719.png"></button>
                    <span>3</span>
                </div>
                <div class="like">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/126/126473.png"></button>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <div class="user">
            <img class="avatar" src="https://www.minneapolis.org/imager/cmsimages/458772/MPLS_Hero2020web_91852798b59be8b28fc00edfe4aec23a.jpg">
            <span class="name">Minneapolis </span>
            <span class="time">1 hour ago</span>
        </div>
        <div class="post">
            <p class="content">hi britney</p>
            <div class="count">
                <div class="comment">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/2462/2462719.png"></button>
                    <span>3</span>
                </div>
                <div class="like">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/126/126473.png"></button>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="story">
        <div class="user">
            <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Banana-Single.jpg/1200px-Banana-Single.jpg">
            <span class="name">banana</span>
            <span class="time">3 hours ago</span>
        </div>
        <div class="post">
            <p class="content">test</p>
            <div class="count">
                <div class="comment">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/2462/2462719.png"></button>
                    <span>3</span>
                </div>
                <div class="like">
                    <button><img class="icon" src="https://cdn-icons-png.flaticon.com/512/126/126473.png"></button>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
</div>