<div class="dialog-container">
    <h2 mat-dialog-title>My Liked List</h2>
    <!-- <mat-dialog-content> -->
        <mat-card class="story" *ngFor="let key of likeList">
            <mat-card-header class="user">
                <img mat-card-avatar class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Banana-Single.jpg/1200px-Banana-Single.jpg">
                <mat-card-title class="name">{{key?.publisherName}}</mat-card-title>
                <mat-card-subtitle class="time">{{key?.publishedTime | date:"short" }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="post">
                <p class="content" >{{key?.content?.text! | limitChar }}</p>
            </mat-card-content>
            <mat-card-actions class="action-container">
                <div class="action">
                    <button (click)="deleteLike(key._id)" mat-icon-button class = "button">
                        <mat-icon>delete icon</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    <!-- </mat-dialog-content> -->
</div>