$primary-color: darkblue
$secondary-color: white
$tertiary-color: lightblue

#login
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 3vh
    border: 1px solid black
    width: 50vw
    height: 60vh

#login-logo
    width: 40%
    height: 40%
    //background: url()
    background-color: $primary-color

#login-form
    display: flex
    flex-direction: column
    gap: 2vh
    width: 80%

    input
        height: 4vh
        border: none
        border: solid 1px black
        border-radius: 5px

    #login-button
        background-color: $primary-color
        color: $secondary-color
        border: none
