<div id="login">
    <div id="login-logo"></div>

    <form id="login-form">

        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" id="login-button" value="Login">
    </form>

    <div id="login-info">
        <div id="register-info">
            <a href="#">New Account? Register Now!</a>
        </div>
        <div id="site-info">

        </div>
    </div>
</div>