<style>
    .user{
        display:block;
        margin:auto;
        width:20vw
    }
    .post{
        margin:auto;
        text-align: center;
        width:20vw;
    }
</style>
<div>
    <div class="user">
        <img src="profile.jpg">
        <span class="name">Britney Spears </span>
        <span class="time">3 minutes ago</span>
    </div>
    <div class="post">
        <p class="content">hello</p>
        <button class="comment">Comment</button>
        <button class="like">Like</button>
    </div>
    
</div>