
<div class="profile">
    <div class="user">
        <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Banana-Single.jpg">
        <h3 class="name">Zoey Xiao</h3>
        <p class="email"><b>Email:</b> zoeyyyyy@gmail.com</p>
        <p><b>Gender:</b> F</p>
        <p><b>Age:</b> 37</p>
    </div>
    <div class="count">
        <div class="post">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2462/2462719.png">
            <span>3</span>
        </div>
        <div class="likes">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/126/126473.png">
            <span>0</span>
        </div>
    </div>
</div>
<app-navbar></app-navbar>