<div class="profile_page">
    <mat-card class="profile">
        <mat-card-header class="header">
            <img mat-card-avatar class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Banana-Single.jpg">
            <mat-card-title class="name">Zoey Xiao</mat-card-title>
            <mat-card-subtitle class="email"> zoeyyyyy@gmail.com</mat-card-subtitle>
        </mat-card-header >
        <mat-card-content class="content">
            <p><b>Gender:</b> F</p>
            <p><b>Age:</b> 37</p>
        </mat-card-content>
        <div class="count">
            <div class="comment">
                <mat-icon> comment</mat-icon>
                <span>3</span>
            </div>
            <div class="like">
                <mat-icon>favorite_border</mat-icon>
                <span>0</span>
            </div>
        </div>
    </mat-card>
</div>

<app-navbar></app-navbar>